name: Gelismis Vidsrc Grabber

on:
  workflow_dispatch:

jobs:
  scrape-job:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Gerekli Her Şeyi Yükle
        run: |
          python -m pip install --upgrade pip
          pip install playwright playwright-stealth
          playwright install chromium
          playwright install-deps

      - name: Scraper Başlat
        run: python main.py

      - name: Sonuçları ve Ekran Görüntülerini İndir
        uses: actions/upload-artifact@v4
        if: always() # Hata olsa bile çalışsın ki ekran görüntüsünü görelim
        with:
          name: sonuclar-ve-kanitlar
          path: |
            sonuc.txt
            ekran_goruntusu.png
            hata_goruntusu.png
