name: Vidsrc Grabber

on:
  workflow_dispatch: # Manuel çalıştırma butonu ekler

jobs:
  scrape-job:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek (Checkout)
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # İSTEDİĞİN KISIM BURASI:
      # Kütüphaneleri ve tarayıcıları doğrudan burada kuruyoruz.
      - name: Kütüphaneleri Yükle
        run: |
          python -m pip install --upgrade pip
          pip install playwright
          playwright install chromium
          playwright install-deps

      - name: Python Kodunu Çalıştır
        run: python main.py

      - name: Sonucu İndir (Artifact)
        uses: actions/upload-artifact@v4
        if: always() # Hata olsa bile çalışsın
        with:
          name: m3u8-linkleri
          path: sonuc.txt
